#container{
    text-align: center;
    position: absolute;
    border-radius: 15px;
    left: 5%;
    right: 5%;
    top: 25%;
    padding: 20px;
    background: #BB86FC;
    box-shadow: 0 4px 5px -1px rgba(255, 255, 255, 0.2);
}
ion-item{
    border-radius: 25px;
    box-shadow: 0 4px 5px -1px rgba(255, 255, 255, 0.2);
    padding: 3px;

}
ion-item:hover{
    --background: var(--login-color);
    #icono{
        visibility: visible;
    }
}
#icono{
    visibility: hidden;
}