<ion-app>
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="nav('/home')">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <!-- Agrega más elementos del menú aquí -->
      </ion-list>
    </ion-content>
  </ion-menu>



  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons>
      <ion-button (click)="nav('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="nav('/signin')">
        Registrate
      </ion-button>
      <ion-button (click)="nav('/login')">
        Iniciar sesion
      </ion-button>
      <ion-button (click)="nav('/infinitescroll')">
        Scroll
      </ion-button>
      <ion-button (click)="nav('/conway')">
        Juego de la vida
      </ion-button>
      <ion-button (click)="nav('/algoritmos-simples')">
        Algoritmos simples
      </ion-button>
      <ion-button (click)="nav('/api-weather')">
        Clima
      </ion-button>
      <ion-button (click)="nav('/memorama')">
        Memorama
      </ion-button>
      <ion-button (click)="nav('/to-do-list')">
        TO-DO list
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-router-outlet></ion-router-outlet>
</ion-app>