<ion-app>
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons>
      <ion-button (click)="nav('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="nav('/signin')">
        Registrate
      </ion-button>
      <ion-button (click)="nav('/login')">
        Iniciar sesion
      </ion-button>
      <ion-button (click)="nav('/infinitescroll')">
        Scroll
      </ion-button>
      <ion-button (click)="nav('/conway')">
        Juego de la vida
      </ion-button>
      <ion-button (click)="nav('/algoritmos-simples')">
        Algoritmos simples
      </ion-button>
      <ion-button (click)="nav('/api-weather')">
        Clima
      </ion-button>
      <ion-button (click)="nav('/memorama')">
        Memorama
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-router-outlet></ion-router-outlet>
</ion-app>