<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>conway</ion-title>
    <ion-buttons>
      <ion-button (click)="nav('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="nav('/signin')">
        Registrate
      </ion-button>
      <ion-button (click)="nav('/login')">
        Iniciar sesion
      </ion-button>
      <ion-button (click)="nav('/infinitescroll')">
        Scroll
      </ion-button>
      <ion-button (click)="nav('/conway')">
        Juego de la vida
      </ion-button>
      <ion-button (click)="nav('/algoritmos-simples')">
        Algoritmos simples
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">conway</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="tablero">
    <!--Aquí va el contenido-->
    <div id="fila" *ngFor="let fila of tablero;let i = index">
      <div [id]="'celula'+celula" *ngFor="let celula of fila"></div>
    </div>
  </div>

</ion-content>
