<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons>
      <ion-button (click)="nav('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="nav('/signin')">
        Registrate
      </ion-button>
      <ion-button (click)="nav('/login')">
        Iniciar sesion
      </ion-button>
      <ion-button (click)="nav('/infinitescroll')">
        Scroll
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="containerinicio">
        
    <div class="left">
      <div>
        <h1>Bienvenidos</h1>
        <p>Descubre nuevos platillos</p>
        <a href="./recetas.php">Descubre Recetas</a>
      </div>
    </div>

    <div class="right">
      <div>
      <h1>No tienes una cuenta?</h1>
      <p>Crea una y empieza a votar por el platillo estrella de la semana</p>
      <a href="./login.php">Crea tu cuenta</a>
    </div>
  </div>
  </div>
</ion-content>
