<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Curriculum
    </ion-title>
    <ion-buttons>
      <ion-button (click)="nav('/home')">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="nav('/signin')">
        Registrate
      </ion-button>
      <ion-button (click)="nav('/login')">
        Iniciar sesion
      </ion-button>
      <ion-button (click)="nav('/infinitescroll')">
        Scroll
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="containerinicio fondo">
        
    <div class="left">
      <div class="profile-card">
        <div class="img">
            <img src="../../assets/foto-formal.avif" alt="profile-img"/>
        </div>
        <div class="caption">
            <h3>Eduardo Zuñiga</h3>
            <p>Junior Developer</p>
            <div class="social-links">
                <a href="https://www.facebook.com/"><i><ion-icon name="logo-facebook"></ion-icon></i></a>
                <a href="https://github.com/Lalozuniga"><i><ion-icon name="logo-github"></ion-icon></i></a>
                <a href="https://www.instagram.com/"><i><ion-icon name="logo-instagram"></ion-icon></i></a>
                <a href="https://www.linkedin.com/in/eduardo-zuñiga-2b63b42a8"><i><ion-icon name="logo-linkedin"></ion-icon></i></a>
            </div>
        </div>
    </div>
    </div>

    <div class="right">
      <div>
      <h1>Welcome</h1>
      <p>Hi There, my name is Eduardo, i'm a technology student <br>
        I am a university student with the vision of wanting to improve my skills while creating applications that improve people's lives. I am determined, creative and focused on objectives.</p>
      <br>
      <a href="https://github.com/Lalozuniga">Check my Github <i class="fab fa-facebook"></i></a>
    </div>
  </div>
  </div>
  <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path>
  </svg></div>
  
  <section id="skills" class="container">
    <div class="habilidades">
      <h1>My skills <i class="fa-solid fa-heart"></i></h1>
      <p>I consider myself a creative guy, but my goal is to find a way to be more productive with who I am.</p>
      <div class="navmenu">
        <button (click)="toggleMenu()">Show</button>
        <ul #menuList>
          <li *ngFor="let skill of skills; let i = index" [style.--i]="i + 1"><a href="">{{ skill }}</a></li>
        </ul>
      </div>
    </div>
  </section>
  
</ion-content>
